.App {
    font-size: 1.4em;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 24px;
}

.App-header,
.App-footer {
    background-color: #222;
    color: white;
    padding: 1em;
}

.App-footer {
    position: absolute;
    bottom: 0;
    width: calc(100% - 2em);
}

.App-content {
    width: calc(100% - 2em);
    margin: 1em auto;
}